* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

h1 {
    color: rgb(225, 65, 212);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

/*main index*/
.maiindex {
    background: #c76ae4;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.498), rgba(0, 0, 0, 0.479)), url(../img/pul-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /*modificar tamaño de letra*/
}

.hero h2 {
    font-family: "PT Mono", monospace;
    font-weight: 400px;
    font-size: 50px;
    /* line-height: 25px;*/
    border: 2px solid #d9acbd;
    padding: 10px;
}

.hero p {
    margin: 12px;
    font-size: 30px;
}

.hero p a {
    text-decoration: none;
    color: #f25151;
    font-size: 20px;
    background-color: #30032d;
    padding: 10px;
}

#boton-carrito {
    border: none;
    color: rgb(225, 65, 172);
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(225, 65, 190);
}

#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}

.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.precioProducto {
    font-weight: 700;
}

.boton-agregar {
    background-color: rgb(225, 65, 153);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}

.boton-agregar:hover {
    cursor: pointer;
}

.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(225, 65, 158);
    padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    padding-top: 10px;

}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}

/*footer*/
.footer {
    overflow: hidden;
    background-color: #8d315f;
    padding: 20px 10px; }
    .footer .footer a {
      float: left;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 80px;
      line-height: 25px;
      border-radius: 4px; }
    .footer .footer a.logo {
      font-size: 80px;
      font-weight: bold;
      color: #ac4291; }
    .footer .redes-right {
      float: right; }